html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, sans-serif;
}

/* Header */
header {
  background-color: #1f2937;
  padding: 1em 13em;
}

/* navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

#logo {
  font-size: 24px;
  font-weight: 900;
  color: #F9FAF8;
}

nav ul {
  display: flex;
  list-style-type: none;
  gap: 20px;
}

a {
  text-decoration: none;
  color: #E5E7EB;
  font-size: 18px;
}

/* Profile section */
.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8em;
  padding: 7em 0;
}

.profile .left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.profile button {
  margin-top: 2px;
}

.profile .right {
  flex-shrink: 0;
  width: 40%;
}

.hero {
  color: #F9FAF8;
  font-weight: bolder;
  font-size: 48px;
}

button {
  padding: 8px;
  width: 120px;
  background-color: #3882F6;
  border-radius: 9px;
}

.profile button {
  border: none;
}

.image {
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 575px;
}

#header-img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 575px;
}

.secondary {
    font-size: 18px;
    color: #E5E7EB;
}

#profile-text {
  max-width: 800px;
}

/* Card Section */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 13em;
  margin-top: 3em;
}

main h2 {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 3em 0 6em 0;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 200px;
  gap: 14px;
}

.square {
  border: 4px solid #D3D3D3;
  border-radius: 20px;
  width: 160px;
  height: 160px;
  margin: 0 18px;
}





