html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, sans-serif;
}

/* Header */
header {
  background-color: #1f2937;
  padding: 1em 13em;
}

/* navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

#logo {
  font-size: 24px;
  font-weight: 900;
  color: #F9FAF8;
}

nav ul {
  display: flex;
  list-style-type: none;
  gap: 20px;
}

a {
  text-decoration: none;
  color: #E5E7EB;
  font-size: 18px;
}
